<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>books!</title>
</head>
<body>
  <main>
    <% search_results.forEach(book => { %>
      <img src="<%=book.thumbnail%>">
      <%=book.title %>
      <%=book.authors %>
      <%=book.description %>
    <% }); %>
  </main>
</body>
</html>