
h1{
  font-size: 2em;
  font-family: 'Reenie Beanie', cursive;

}
img{
  padding: 1em;
}

h3{
  font-size: 1.5em;
  padding: 1em;
  font-family: 'Reenie Beanie', cursive;
}

h4{
  font-size: 1.2em;
  padding: 1em;
}
p{
  padding: 1em;
}